#mainContainer
{
	margin-top: 5%;
	padding-left: auto;
	padding-right: auto;
}

#mainContent
{
    padding-left: 180px;
}

#errorContain
{
    padding-left: 0px;
}

@media screen and (max-width: 719px){
	#mainContent
	{
		padding-left: 12px;
	}
}

#message_info{
	text-align: center;
	color:#adadad;
}

#error_info i{
	color:#555555;
	font-size: 1.2em;
}

#error_info{
	text-align: center;
	color:#333;
}

.right-btn{
	float:right;
	margin-top: 15px;
	width:20%;
}

.left-btn{
	float:left;
	margin-top: 15px;
	width:20%;
}

.center-btn{
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 4em;
	width:30%;
}

.row{
	margin-top: 0;
	margin-bottom: 20px;
}

<<<<<<< HEAD
=======

h1{float:left;}

>>>>>>> 2a426dd45477f7da06ca34945c97f2d791fb2d4d
label{
	color:#666;
	margin-top: 30px;
	font-size: 0.93em;
}


.form-group label{
	color:#666;
	margin-top: 20px;
	font-size: 0.97em;
}


/*******submitassignment*********/
<<<<<<< HEAD
.put-file
{
=======

.pics {
	opacity: 0.0;
	display: inline;
>>>>>>> 2a426dd45477f7da06ca34945c97f2d791fb2d4d
	position: relative;
	left: 15px;
	overflow: hidden;
	color: #2423CC;
	width: 120px;
	height: 35px;
	text-align: center;
}

<<<<<<< HEAD
.put-file input
=======
.picsButton
>>>>>>> 2a426dd45477f7da06ca34945c97f2d791fb2d4d
{
	opacity: 0;
	position: absolute;
	height: 32px;
	right: 0;
	top: 0;
	cursor: pointer;
}

#assignmentForm{
	width: 60%;
	margin-left: 150px;
}

@media screen and (max-width: 850px){
	.title
	{
		/*margin-left: 250px;*/
	}
}

form h4{
	margin-top: 50px;
}

.pic-homework {
	max-width: 600px;
}

textarea{
	resize: none;}
