#mainContainer
{
	margin-top: 5%;
	padding-left: auto;
	padding-right: auto;
}

#mainContent
{
    padding-left: 180px;
}

#errorContain
{
    padding-left: 0px;
}

@media screen and (max-width: 719px){
	#mainContent
	{
		padding-left: 12px;
	}
}

#message_info{
	text-align: center;
	color:#adadad;
}

#error_info i{
	color:#555555;
	font-size: 1.2em;
}
#error_info{
	text-align: center;
	color:#333;
}

.right-btn{
	float:right;
	margin-top: 15px;
	width:20%;
}

.center-btn{
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 4em;
	width:30%;
}

.row{
	margin-top: 0;
	margin-bottom: 20px;
}


h1{float:left;}

label{
	color:#666;
	margin-top: 30px;
	font-size: 0.93em;
}


/*******submitassignment*********/

.pics {
	opacity: 0.0;
	display: inline;
	position: relative;
	left: -60px;
}

.picsButton
{
	/*width: 50px;*/
	/*margin-top: -50px;*/
}

#assignmentForm{
	width: 60%;
	margin-left: 150px;
}

@media screen and (max-width: 719px){
	#assignmentForm
	{
		padding-left: 0;
	}
}

form h4{
	margin-top: 50px;
}