#mainContainer
{
	margin-top: 5%;
	padding-left: auto;
	padding-right: auto;
}

#mainContent
{
    margin-left: 250px;
}

@media screen and (max-width: 719px){
	#mainContent
	{
		margin-left: 0px;
	}
}
