#mainContainer
{
	margin-top: 50px;
	margin-bottom: 10px;
	padding-left: auto;
	padding-right: auto;
}

#mainContent
{
    	padding-left: 230px;
}

#errorContain
{
    padding-left: 0px;
}

@media screen and (max-width: 719px){
	#mainContent
	{
		padding-left: 12px;
	}
}

#message_info{
	text-align: center;
	color:#adadad;
}

#error_info i{
	color:#555555;
	font-size: 1.2em;
}
#error_info{
	text-align: center;
	color:#333;
}

.right-btn{
	float:right;
	margin-top: 15px;
	width:20%;
}

.center-btn{
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 4em;
	width:30%;
}

.row{
	margin-top: 0;
	margin-bottom: 20px;
}

label{
	color:#666;
	margin-left: 0px;
}


/*******submitassignment*********/

.put-file
{
	position: relative;
	left: 15px;
	overflow: hidden;
	color: #2423CC;
	width: 112px;
	height: 35px;
	text-align: center;
}

.put-file input
{
	opacity: 0;
	position: absolute;
	height: 35px;
	right: 0;
	top: 0;
	cursor: pointer;
}

#assignmentForm{
	width: 60%;
}

#formContainer
{
	padding-left: auto;
	padding-right: auto;
}

@media screen and (max-width: 719px){
	#assignmentForm
	{
		padding-left:10px;
	}
}