#mainContainer
{
	margin-top: 50px;
	padding: 0px;
}

#mainContent
{
	padding: 0px;
}

#pictureSliders
{
	background-color: #F5F5F5;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: auto;
	margin-right: auto;
}

.item img
{
	margin-right: auto;
	margin-left: auto;
}

#textContent
{
	/*margin-top: 1px;*/
}

.content-part
{
	margin-top: 15px;
	padding: 1%;
	padding-left: 15%;
	padding-right: 15%;
	cursor: default;
}

.content-part:hover
{
	background-color: #E5E5E5;
}

.part-title
{
	font-size: 1.5em;
	font-weight: 700;
	border-bottom: 1px solid #000000;
	text-align: center;
	margin-bottom: 10px;
}

.sub-part
{
	display: inline-block;
	width: 40%;
	margin: 8px 4%;
	vertical-align: top;
	cursor: default;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
}

.sub-part:hover
{
	background-color: #EE5C42;
}

.icon
{
	display: block;
	font-size: 6em;
	text-align: center;
}

/**************footer*************/
#footer
{
	background-color: #959595;
	height: 70px;
}