{% autoescape None %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/dash_container.css">
	<title>认证教师用户-材料成型工艺课程设计</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/css/starter-template.css" rel="stylesheet">

	<script src="/static/js/ie-emulation-modes-warning.js"></script>

	<script src="/static/js/jq.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#logoBrand").click(function(event) {
					event.preventDefault();
					$("#wrapper").toggleClass("toggled");
                });
			});
	</script>
  </head>

  <body>
    {% include 'navibar.html' %}
    <div class="container">
      <div class="container">
        {% for i in temp %}
        {% if i['type']!='s' %}
        <div class='tabel-responsive'>
          <table class="table">
            <thead>
              <tr>
                <th>教师姓名</th>
                <th>教工号</th>
                <th></th>
              </tr>
            </thead>
            <tr>
              <td>{{i['name']}}</td>
              <td>{{i['id']}}</td>
              <td><a><button name="button" class='btn btn-primary'>确认教师申请</button></a></td>
            </tr>
          </table>
        </div>
        {% end %}<!-- end if-->
      {% end %}<!-- end for-->
      </div>
    </div>
  </body>
</html>
