<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="stylesheet" type="text/css" href="../static/css/ionicons.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">

	<title>课程详情-材料成型工艺课程设计</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/css/starter-template.css" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="/static/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="/static/js/jq.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#logoBrand").click(function(event) {
					event.preventDefault();
					$("#wrapper").toggleClass("toggled");
			});
		});
	</script>
  </head>

  <body>
{% include 'navibar.html' %}

<div class="container">
    <div class="container">
        <div class="row">
            <br><br>
            <br><br>
            <h3>历史沿革</h3>
            <br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“材料成型工艺课程设计”课程是材料成型及控制工程专业的核心课程，立足于“材料成型工艺学“，自1953年大连理工大学（原大连工学院）成立铸造专业之初就开设至今，曾用名“铸造工艺课程设计”。在60余年的课程建设中，积累了丰富的教学成果，经历了2次重大的改革。</p>
            <h5>①  1999年</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成立专业之初，高干教师深入工厂，与各高校相互交流，掌握铸造生产过程和基本的铸造生产方法，研究铸件生产过程中的铸件结构设计和铸型工艺方案，掌握液态金属充型系统、补缩系统设计的基本理论与方法。并与工厂合作，采用工厂图纸作为教学资源，多次改革促进专业课程内容与实际生产服务结合。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在此期间，新材料不断涌现，材料成型工艺方法不断发展，不仅仅局限于铸造工艺，我校教师队伍为适应社会和科技发展的形势需求，不仅仅全面开展材料成型工艺研究，参加科研项目拓宽视野增长才干，同时也致力于激励学生，故于1999年，本课程更名为“材料成型工艺课程设计”。</p>
            <h5>②  2014年</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;21世纪以来，随着科学技术的高速发展，高等教育进入了全面的信息化时代，更加注重对学生素质教育和综合能力的培养。材料成型及控制工程专业作为一门社会型应用技术专业，与科技的发展和社会的进步密切相关，专业人才也面临更多考验，亟需在认真学习理论知识的基础上，紧跟时代发展，掌握更新更全面的专业技术能力。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014年，在张兴国教授的带领下，突破传统的材料成型课程设计教学模式，将计算机绘图全面代替手工绘图，建立全面完善的工艺数据库、绘图软件、模拟软件三位一体的计算机网络教学系统，创建积极开放的教学和考核方式。尤其是“三维实体造型”“计算机模拟技术”等内容的引进，进一步丰富材料成型工艺设计的教学内涵，为学生自主创新能力的培养体系中确立本课程的基础地位做出积极的贡献。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2015年，将在提高课堂知识含量、加强知识的严密性与科学性和按认知规律组织教学方面进行认真的研究与实践。期望在充分教改实践的基础上，突破了传统教学内容、体系和教学方法的限制，在对传统教学内容和计算机造型、计算机模拟等新知识的整合上，完成了顺利的过渡。期望在教学手段和方法上，总结探索出了一整套适合电子化教学特点的教学方法。起到了培养能力、增加课堂知识含量、提高教学效率和教学效果的作用。</p>
            <br><h3>建设目标和指导思想</h3>
            <br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①  学生掌握铸造工艺设计的基本知识，了解铸造工艺设计的一般程序，是一次预演性的教学实践环节；</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②  通过铸造工艺课程设计达到能进行中等复杂程度铸件工艺设计的水平（3-5个砂芯，砂型铸造）；</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;③  基本掌握铸造工艺装备（通用砂箱）设计的步骤和方法。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;④  熟练掌握计算机造型与计算机模拟，运用并熟悉设计资料等方面，进一步提高图纸、文字表达能力，为走向工作岗位具备专业的综合素质打下初步基础。</p>
            <br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;“材料成型工艺课程设计”是指导学生进行专业的工程计算和工程绘图，目的是让学生掌握并完成材料加工过程的整体工装设计和技术理念表达，提高学生将课堂理论知识转化为实际应用的能力，是对学生动手能力和创新能力的一次全面训练和检阅，对后续专业课程的学习、毕业设计及今后工作都具有深远的影响。</p>
            <br>
            <h3>教学内容</h3>
            <br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;材料成型工艺课程设计总的程序是：根据给定的二维零件图，采用计算机画出三维零件图，进行详细的工艺分析：浇注位置选择、分型面选择、砂芯分块与芯头结构设计、铸造工艺参数确定、浇注系统设计与校核，绘制出铸造工艺图。然后以工艺图为依据，设计出模版图：确定砂箱尺寸、断面结构设计、吊运装置与结构设计、合箱定位结构设计、抬箱力计算，最后撰写材料成型工艺课程设计说明书撰写和填写工艺卡。</p>
            <br><h3>教学条件</h3>
            <br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>电子教案：</strong>指导工艺分析,教案模拟黑板教学详尽的工艺设计详尽步骤，同时保持了黑板教学的优势。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>工艺资源库：</strong>提供各种材料的工艺参数常用标准。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>软件资源：</strong>提供INVENTOR软件、Pro-cast软件安装包及教程</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>网上电子模型库：</strong>该电子模型库提供简单立体模型素材，可使用鼠标拖拽从不同角度观察模型，辅助空间思维。 </p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>视频库：</strong> 提供 inventor、procast软件操作视频。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>上机实践指导：</strong>提供4个知识点下2个上机指导。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>常见问题及解答：</strong>支持随时与任课教师联系，及时指导解答。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>课堂录像：</strong> 提供主讲教师的教学录像。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>实践性教学环境：</strong>人手一机的制图教学专用inventor、procast实验室２个，人手一机的授课用多媒体教室４个；多功能答疑室一个。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>网络教学环境：</strong>通过校园网为学生提供自主学习环境。在大连理工大学“材料成型工艺课程设计”课程网上提供了电子教案、电子模型库、视频库、动画库、常见问题解答库、工艺参数常用标准查询等丰富的电子资源；教学论坛提供了在线讨论、答疑功能；课件下载栏目提供教师授课教案，便于学生预习、复习课堂教学内容。网络课程提供“inventor造型”、“procast模拟”两门在线课程。</p>
            <br><h3>教学方法与手段</h3>
            <br>
            <h5 style="font-style: italic;">将现代教育技术和教学手段服务于教学： </h5>
            <h5>（１）  多媒体教学 </h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;知识的增加、学时的减少迫使我们利用现代教育技术改革传统授课方式，多媒体教学条件下，优秀的电子教学软件是保证教学效果的前提。黑板上能做到的，软件也应当能做到。多媒体的用武之地，是黑板挂图做不到、或语言不易表达的内容。往往是制图教学中的重点、难点问题。这使得电子教学软件的制作和应用意义重大。全面应用于课堂教学和校园局域网上教学。 </p>
            <h5>（２）  网络教学 </h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;健全的网站提供网络课程、网上指导答疑、网上虚拟模型库、网上虚拟模拟等，使学生随时能够学习材料成型工艺设计知识。利用计算机网络系统按组分配课题任务，学生通过该系统进行图形的设计、绘制、模拟、提交。创建开放的课堂，培养学生自主学习兴趣，并通过PPT答辩的形式进行课题的总结汇报。</p>
            <br>
            <h3>建设规划</h3>
            <br>
            <h5>建设目标：</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在已经取得的教学实践基础之上，顺应时代的发展，进一步围绕培养高素质创新人才的内涵展开教学研究，形成适合我校材料成型及控制工程专业本科生且符合创新型国家人才培养要求的以素质教育为核心的《材料成型工艺课程设计》新教学内容体系和教学、设计、评价方法。为 实现培养学生掌握扎实的材料成型工艺设计的基础、运用绘图软件（AutoCAD、Pro/E、UG等）、模拟软件（Ansys、Procast等），提高理论联系实际及分析解决问题能力的目标打好夯实的实践基础。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;通过高水平教学网站的影响和辐射作用，为材料成型及控制工程专业提供师范和优质共享的教学资源；为其他相关专业和课程教学改革模式提供蓝本；不受学校、地域的限制，为国内工科相关专业学生提供开拓思维、自主学习的环境。</p>
            <h5>建设步骤：</h5>
            <h5 style="font-style: italic;">（1）  建立“材料成型工艺课程设计”课程实践教学的新模式</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;突破传统材料成型课程设计教学模式，更新课程教学内容，将计算机绘图全面替代手工绘图，培养学生CAD/CAE软件的应用能力和创新能力，真正做到知识“学为所用”。</p>
            <h5 style="font-style: italic;">（2）  建立全面完善的计算机网络教学系统</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建立一体化的材料成型工艺数据库，将材料数据、工艺参数数据、砂箱设计数据等全面整合到数据库中，建成强大的材料成型工艺设计数据体系。从简单验证，到部件级设计，再到系统级设计。提供课程教学、课程设计、创新竞赛和毕业设计所需参考资源。</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;创建工艺数据库、绘图软件、模拟软件三位一体的计算机网络教学系统。要求学生除了制作铸造工艺以外，还须使用模拟软件对工艺进行优化，对铸造过程中的温度场进行模拟，全面提升学生的专业综合能力。</p>
            <h5 style="font-style: italic;">（3）  建立积极开放的教学和考核方式，培养学生自主学习能力式</h5>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;利用计算机网络系统按组分配课题任务，学生通过该系统进行图形的设计、绘制、模拟、提交。创建开放的课堂，培养学生自主学习兴趣，并通过PPT答辩的形式进行课题的总结汇报。</p>
            <h5 style="font-style: italic;">（4）  将师资队伍建设成为大连理工大学优秀教学团队</h5>
            <br><br>
            <br><br>
        </div>
    </div>
</div>
{% include 'footer.html' %}
    </body>
</html>
