<!DOCTYPE html>
<html lang="zh-CN">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/login.css">

	<title>忘记密码-材料成型工艺课程设计</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
	<script src="/static/js/ie-emulation-modes-warning.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="/static/js/jq.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript">
		$(function(){
			var labels = {
				'teacher': '教工号',
				'student': '学号'
			}
			$('#logoBrand').click(function(event) {
					event.preventDefault();
					$("#wrapper").toggleClass("toggled");
			});

			$('#loginHead a').click(function(event) {
				var tab = $(event.target).parent();

				$('#loginHead li').removeClass('active');
				tab.addClass('active');

				$('#pwdFormContainer').find('[for="pwdid"]').html(labels[tab.attr('tabName')]);
				$('#pwdid').attr('placeholder', labels[tab.attr('tabName')]);
				$('#ugp').val(tab.attr('tabName'));
			});

		});
	</script>
	<style>
		.btn{width: 100%;}
	</style>
	</head>
	<body>
{% include 'navibar.html' %}
		<!--****************************main content*********************** -->
		<div id="loginContainer" class="container">
			<div id="pwdContent" class="container">
				<ul id="loginHead" class="nav nav-tabs">
					<li tabName="teacher" role="presentation" class="active">
						<a href="javascript:void(0);">教师</a>
					</li>
					<li tabName="student" role="presentation" class="">
						<a href="javascript:void(0);">学生</a>
					</li>
				</ul>
				<div id="pwdFormContainer">
					<form method="post" action="">
						<div class="form-group form-group-margin-15">
							<label for="pwdid">教工号</label>
							<input type="text" class="form-control" id="pwdid" name="pwdid" placeholder="教工号" required>
						</div>
						<div class="form-group form-group-margin-15">
							<label for="loginPassword">邮箱<label>请填写申请帐号时使用的邮箱</label></label>
							<input type="email" class="form-control" name="email" placeholder="邮箱" required>
						</div>
						<input id="ugp" name="ug" value="t" hidden>
						<div id="submitButton" class="form-group">
							<label for="vcode">请输入验证码</label>
                            <div>
                                <input type="verify-code" id="vcode" class="form-control" name="vcode" placeholder="验证码" required>
                                <img src="/static/tmp/{{ pic_name }}" id="verify-img"/>
                            </div>
                        </div>
						<div id="submitButton" class="form-group">
							<input type="submit" class="btn btn-default" value="确认">
						</div>
					</form>
				</div>
			</div>
		</div>
		<!--****************************main content*********************** -->
	</body>
</html>
