<script>
    $(document).ready(function(){
        $("#{{ active }}").addClass('active');
    });
</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
        <a id="logoBrand" class="navbar-brand" href="javascript:void(0);"><div id="homeLogo"></div></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="ind"><a href="/">首页</a></li>
                <li id="det"><a href="/courseInfo">课程详情</a></li>
                <li><a href="/resource">课程资源</a></li>
    {% if not id %}
                <li id="lgin"><a href="/login">登录</a></li>
    {% else %}
                <li id="dsh"><a href="/dash">个人管理</a></li>
                <li><a href="/logout">退出</a></li>
    {% end %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
