<script>
    $(document).ready(function(){
        $("#{{ active_slide }}").addClass('active');
    });
</script>
<!-- Sidebar -->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a id='mcs' href="/dash">我的课程</a>
            </li>
            <li>
                <a id='msg' href="/dash/messages">消息提示</a>
            </li>
            <li>
                <a id='hmwk' href="/dash/myHomework">我的作业</a>
            </li>
        </ul>
    </div>
</div>
<!-- /#sidebar-wrapper -->
