{% autoescape None %}
{% extends 'student_dash.html' %}

{% block title %}我的课程{% end %}

{% block content %}

<div class="row">
  <h1>我的课程</h1>
</div>
{% if not course %}
<hr id="message_info">
<h4 id="message_info">无课程记录</h4>
<a href="/dash/setCourse" class="btn btn-default left-btn" id="message_info">选择课程</a>
{% else %}
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>课序号</th>
            <th>课程状态</th>
            <th>开课学年</th>
            <th>开课周</th>
        </tr>
      <tr>
          <td>{{ course['idCourse'] }}</td>
          <td>{% if course['state'] %}课程进行中{% else %}课程未进行{% end %}</td>
      </tr>
    </table>
</div>
<div class="row">
    <a href="/submitAssgnment"><button class="btn btn-default right-btn">提交作业</button></a>
</div>
{% end %}{#end if#}
{% end %}{# end block #}
