{% autoescape None %}
{% extends 'teacher_dash.html' %}

{% block title %}我的课程{% end %}

{% block content %}

<div class="row">
  <h1>我的课程</h1>
  <a href="/dash/editCourse"><button class="btn btn-default right-btn">编辑课程</button></a>
</div>
{% if not course %}
<hr id="message_info">
<h4 id="message_info">无课程记录</h4>
{% else %}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>课序号</th>
                <th>课程人数</th>
                <th>开课学年</th>
                <th>开课周</th>
            </tr>
        </thead>
        <tbody>
  {% for i in course %}
      <tr>
          <td>{{ i['idCourse'] }}</td>
          <td>{% if 'attend' in i.keys() %}{{ i['attend'] }}{% else %}NaN{% end %}</td>
          <td>{% if 'year' in i.keys() %}{{ i['year'] }}{% else %}NaN{% end %}</td>
          <td>{% if 'week' in i.keys() %}{{ i['week'] }}{% else %}NaN{% end %}</td>
      </tr>
  {% end %}{#end for#}
        </tbody>
    </table>
</div>

{% end %}{#end if#}
{% end %}{# end block #}
