{% autoescape None %}
{% extends 'teacher_dash.html' %}

{% block title %}我发布的消息{% end %}

{% block content %}

<div class="row">
  <h1>我发布的消息</h1>
  <a href="/dash/publishing" target="_blank"><button class="btn btn-default right-btn">发布消息</button></a>
</div>

<div class="row">
    <ul id="loginHead" class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#Myinfo" data-toggle="tab">课程通知</a>
        </li>
        <li role="presentation">
            <a href="#Myresource" data-toggle="tab">课程资源</a>
        </li>
    </ul>
</div>

{% if not info %}
<hr id="message_info">
<h4 id="message_info">无消息记录</h4>
{% else %}

<div class="tab-content">
    <div class="tab-pane fade in active" id="Myinfo">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>消息标题</th>
                        <th>发布日期</th>
                        <th>详细时间</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
          {% for i in info %}
          {% if i['type']=='info' %}
              <tr>
                  <td><a href="/notification/{{ i['idInfo'] }}"><i class="ion ion-ios-circle-outline"></i></a></td>
                  <td><a href="/notification/{{ i['idInfo'] }}">{{ i['t‎itle'] }}</a></td>
                  <td>{{ i['date'].strftime('%Y-%m-%d') }}</td>
                  <td>{{ i['date'].strftime('%R:%S') }}</td>
                  <td><a href="编辑消息" class="btn btn-default btn-xs">编辑</a><a href="删除消息" class="btn btn-default btn-xs">删除</a></td>
              </tr>
          {% end %}{#end if#}
          {% end %}{#end for#}
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="Myresource">
       <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>消息标题</th>
                        <th>发布日期</th>
                        <th>详细时间</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
          {% for i in info %}
          {% if i['type']=='resource' %}
              <tr>
                  <td><a href="/notification/{{ i['idInfo'] }}"><i class="ion ion-ios-circle-outline "></i></a></td>
                  <td><a href="/notification/{{ i['idInfo'] }}">{{ i['t‎itle'] }}</a></td>
                  <td>{{ i['date'].strftime('%Y-%m-%d') }}</td>
                  <td>{{ i['date'].strftime('%R:%S') }}</td>
                  <td><a href="编辑消息" class="btn btn-default btn-xs">编辑</a><a href="删除消息" class="btn btn-default btn-xs">删除</a></td>
              </tr>
          {% end %}{#end if#}
          {% end %}{#end for#}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% end %}{#end if#}
{% end %}{# end block #}