<script>
    $(document).ready(function(){
        $("#{{ active_slide }}").addClass('active');
    });
</script>
<!-- Sidebar -->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <a id='mycourse' href="/dash">我的课程</a>
            </li>
            <li>
                <a id="cmt" href="/dash/commenting">批改作业</a>
            </li>
            <li>
                <a id="allstu" href="/dash/allStudents">课程学生</a>
            </li>
            <li>
                <a id="ntfc" href="/dash/notifications">课程消息</a>
            </li>
        </ul>
    </div>
</div>
<!-- /#sidebar-wrapper -->