{% autoescape None %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/static/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ionicons.min.css">
  <link rel="stylesheet" href="/static/css/dash_container.css">
	<title>{% block title %}首页{% end %}-材料成型工艺课程设计</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/static/css/starter-template.css" rel="stylesheet">

	<script src="/static/js/ie-emulation-modes-warning.js"></script>

	<script src="/static/js/jq.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript">
		$(function(){
			$("#logoBrand").click(function(event) {
					event.preventDefault();
					$("#wrapper").toggleClass("toggled");
                });
			});
	</script>
  </head>

  <body>
    {% include 'navibar.html' %}
    {% include 'teacher_slidebar.html' %}
    <div id="mainContainer" class="container">
      <div id="mainContent" class="container">
          {% block content %}Default Content{% end %}
      </div>
    </div>
  </body>
</html>
