{% autoescape None %}
{% extends 'teacher_dash.html' %}

{% block title %}批改作业{% end %}

{% block content %}

<div class="row">
  <h1>批改作业</h1>
</div>


<div class="row">
    <ul id="loginHead" class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#edit" data-toggle="tab">待批改作业</a>
        </li>
        <li role="presentation">
            <a href="#add" data-toggle="tab">已批作业</a>
        </li>
        <li role="presentation">
            <a href="#del" data-toggle="tab">全部作业</a>
        </li>
    </ul>
</div>

    <div class="row tab-content">
        <!--start edit course-->
        <div class='tab-pane fade in active' id="edit">
            {% if not homework %}
            <h5 id="message_info">没有需要批改的作业的记录</h5>
            {% else %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>提交名称</th>
                            <th>提交人</th>
                            <th>作业类型</th>
                            <th>课序号</th>
                            <th>作业评价</th>
                            <th>更新时间</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
              {% for i in homework %}
                {% if i['comment']=='' %}
                  <tr>
                      <td><a class="editCourseLink" href="/dash/commenting/viewHomework/{{ i['idHomework'] }}"><i class="ion ion-ios-circle-filled"></i></a></td>
                      <td><a class="editCourseLink" href="/dash/commenting/viewHomework/{{ i['idHomework'] }}">{{ i['tag'] }}</a></td>
                      <td>{{ i['name'] }}</td>
                      <td>{% if i['type']=='video' %}展示视频{% else %}三视图截图{% end %}</td>
                      <td>{{ i['cid'] }}</td>
                      <td>{% if i['comment'] =="" %}无{% else %}{{ i['comment'] }}{% end %}</td>
                      <td>{{ i['date'].strftime('%Y-%m-%d') }}</td>
                      <td><a href="/dash/commenting/{{ i['idHomework'] }}" class="btn btn-default btn-xs">评价</a></td>
                  </tr>
                {% end %}{#end if#}
              {% end %}{#end for#}
                    </tbody>
                </table>
            </div>
            {% end %}{#end if#}
        </div>
        <!--end edit course-->
        <!--start add course-->
        <div id="add" class="tab-pane fade">
            {% if not homework %}
            <h5 id="message_info">没有已经批改过的作业的记录</h5>
            {% else %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>提交名称</th>
                            <th>提交人</th>
                            <th>作业类型</th>
                            <th>课序号</th>
                            <th>作业评价</th>
                            <th>更新时间</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
              {% for i in homework %}
                {% if i['comment']!='' %}
                  <tr>
                      <td><a class="editCourseLink" href="/dash/editCourse/{{ i['idHomework'] }}"><i class="ion ion-ios-circle-filled"></i></a></td>
                      <td><a class="editCourseLink" href="/dash/editCourse/{{ i['idHomework'] }}">{{ i['tag'] }}</a></td>
                      <td>{{ i['name'] }}</td>
                      <td>{% if i['type']=='video' %}展示视频{% else %}三视图截图{% end %}</td>
                      <td>{{ i['cid'] }}</td>
                      <td>{% if i['comment'] =="" %}无{% else %}{{ i['comment'] }}{% end %}</td>
                      <td>{{ i['date'] }}</td>
                      <td><a href="/dash/commenting/{{ i['idHomework'] }}" class="btn btn-default btn-xs">修改评价</a></td>
                  </tr>
                {% end %}{#end if#}
              {% end %}{#end for#}
                    </tbody>
                </table>
            </div>
            {% end %}{#end if#}
        </div>
        <!--end add course-->
        <!--start del course-->
        <div class='tab-pane fade' id="del">
            {% if not homework %}
            <h5 id="message_info">无作业记录</h5>
            {% else %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>提交名称</th>
                            <th>提交人</th>
                            <th>作业类型</th>
                            <th>课序号</th>
                            <th>作业评价</th>
                            <th>更新时间</th>
                        </tr>
                    </thead>
                    <tbody>
              {% for i in homework %}
                  <tr>
                      <td><a class="editCourseLink" href="/dash/editCourse/{{ i['idHomework'] }}"><i class="ion ion-ios-circle-filled"></i></a></td>
                      <td><a class="editCourseLink" href="/dash/editCourse/{{ i['idHomework'] }}">{{ i['tag'] }}</a></td>
                      <td>{{ i['name'] }}</td>
                      <td>{% if i['type']=='video' %}展示视频{% else %}三视图截图{% end %}</td>
                      <td>{{ i['cid'] }}</td>
                      <td>{% if i['comment'] =="" %}无{% else %}{{ i['comment'] }}{% end %}</td>
                      <td>{{ i['date'] }}</td>
                  </tr>
              {% end %}{#end for#}
                    </tbody>
                </table>
            </div>
            {% end %}{#end if#}
        </div>
        <!--end del course-->
    </div>

{% end %}<!--end block content-->